@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 143, 9%, 85%;
    --foreground: 143, 9%, 33%;

    --card: 143, 9%, 80%;
    --card-foreground: 	143, 9%, 75%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 	200, 16%, 29%;
 
    --primary: 143, 9%, 33%;
    --primary-foreground: 143, 9%, 40%;
 
    --secondary: 136, 8%, 75%;
    --secondary-foreground: 136, 8%, 65%;
 
    --muted: 143, 9%, 80%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 143, 9%, 77%;
    --accent-foreground: 143, 9%, 25%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 143, 9%, 75%;
    --input: 143, 9%, 70%;
    --ring: 200, 16%, 29%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 143, 9%, 33%; /**/
    --foreground: 143, 9%, 85%; /**/
 
    --card: 136, 8%, 40%; /**/
    --card-foreground: 210 40% 98%; /**/
 
    --popover: 	200, 16%, 29%; /**/
    --popover-foreground: 210 40% 98%; /**/
 
    --primary: 143, 9%, 85%; /**/
    --primary-foreground: 143, 9%, 75%; /**/
 
    --secondary: 136, 8%, 45%;
    --secondary-foreground: 136, 8%, 55%;
 
    --muted: 	143, 9%, 38%; /**/
    --muted-foreground: 215 20.2% 65.1%; /**/
 
    --accent: 	143, 9%, 43%; /**/
    --accent-foreground: 210 40% 98%; /**/
 
    --destructive: 0 50% 50%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 	143, 9%, 55%; /**/
    --input: 	143, 9%, 60%; /**/
    --ring: 212.7 26.8% 83.9%; /**/
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {@apply text-3xl}
  h2 {@apply text-2xl}
  h3 {@apply text-xl}
}